<% include header.html %>

<h1><%= title %></h1><br><br>
<!-- <p>Welcome to <%= title %></p> -->
<div id="wrapper">
  <button class="userBtns" id="AddOper">Add Operator</button>
  <button class="userBtns" id="Users">User Maint</button>
  <button class="userBtns" id="logout">LogOut</button><br><br>
  <div id="grid"></div><br><br>
  <label class="version">M3 Operator Manager v0.1.4</label>

<!--   <div id="grid1"></div> -->
</div>  



<script type="text/javascript">

var data = {
  cols: {
    OperatorId: {
      index: 1,
      unique: true,
      type: "number"
    },
    Desc: {
      index: 2,
      type: "string"
    }
  },
  rows : [
    { OperatorId: 1,
      Desc: 'test' }
  ]
};


$(document).ready(function() {
	var level = "<%- access_level %>";
	if( level === "READONLY") {
		$('#AddOper').hide();
	}
  console.log('level = ' + level);

  if(level !== "ADMIN") {
    $('#Users').hide();
  }

  // $( "#datepicker" ).datepicker( "option", "dateFormat", "yyyy-mm-dd" );
  // $( "#datepicker1" ).datepicker( "option", "dateFormat", "yyyy-mm-dd" );

   $("#report").click(function(event) {
     //alert('ok');
   // $.getJSON('/operatorreport/9', function (data) {
   //   alert(data);
   // });
   
    event.preventDefault();

    var start = $("#datepicker").val();
    var end = $("#datepicker1").val();
    
   if (start === "") {
     alert('Both dates required');
     return;
   }

   if (end === "") {
     alert('Both dates required');
     return;
   }
   



   var operatorid = $("#operatorId").val();
    var params = {
      operator: operatorid,
      startDate: start,
      endDate: end
    };
    $.ajax({
      type: "GET",
      url:  '/operatorreport/' + operatorid + '/' + start + '/' + end,
     // url:  '/operatorreport1' ,
      timeout: 10000,
      //data: params,
      //url:  '/operatorreport/9',

        success: function (result) {
          //window.location = "/";
          //alert(result.path);
          //console.log(result.path);
          window.open(result, "Operator Report"); 
          $( "#dialog-form1" ).hide();
          window.location = "/operatorsView";
        },
        error: function (request, err){
          //console.log(err);
          //console.log(request);
          alert(request.responseText);
        }
    });  


   });

  $( "#logout" ).click(function() {
    $.ajax({
      type: "GET",
      url:  '/logout',
        success: function (result) {
          window.location = "/";
        },
        error: function (request, err){
          alert(err);
        }
    });  

    //window.open("http://www.google.com", "google"); 

  });

  $( "#AddOper" ).click(function() {
    $.ajax({
        type: "GET",
        url: '/operator_seeds',
        cache: false,
        success: function (result) {
          $("#operation").val('add');
          $("#operatorId").val(result.OperatorId);
          $("#code").val(result.SecCode);
          $("#desc").val('');
          $("#address").val('');
          $("#city").val('');
          $("#state").val('');
          $("#zip").val('');
          $("#phone").val('');
          $('#active').attr('checked', false);
          $('#welch').attr('checked', false);
          $( "#dialog-form1" ).dialog( "option", "title", "Add New Operator" );
          $( "#dialog-form1" ).dialog( "open" ); 
          $("#start").hide();
          $("#end").hide();
          $("#datepicker").hide();
          $("#datepicker1").hide();
          $("#report").hide();
          $("#rtcost").val('0');
          $("#vgtcost").val('0');


        },
         error: function (request,error) {
           alert(error);
          }
      }); 
  });

  $( "#Users" ).click(function() {
      window.location = "/usersView";
  });

$( "#dialog-form1" ).dialog({
  height: 430,
  width: 850,
  modal: true,
  autoOpen: false,
  show: {
        effect: "fold",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
        
      }
  });
});




var waTable = $('#grid').WATable({
	pageSize: 25, 
  url : '/operators',
    tableCreated: function(data1) {    //Fires when the table is created / recreated. Use it if you want to manipulate the table in any way.
        console.log('table created'); //data.table holds the html table element.
    },
    rowClicked: function(data) {      //Fires when a row is clicked (Note. You need a column with the 'unique' property).
      //$('#dialog-form1').prop('title', 'Edit Operator');
      var level = "<%- access_level %>";
      if (level !== 'READONLY') {
        $( "#dialog-form1" ).dialog( "option", "title", "Edit Operator" );
        $("#dialog-form1" ).dialog( "open" ); 
        $("#operatorId").val(data.row.OperatorId);
        $("#code").val(data.row.Code);
        $("#desc").val(data.row.Desc);
        $("#address").val(data.row.Address);
        $("#city").val(data.row.City);
        $("#state").val(data.row.State);
        $("#zip").val(data.row.Zip);
        $("#phone").val(data.row.Phone);
        $("#start").show();
        $("#end").show();
        $("#datepicker").show();
        $("#datepicker1").show();
        $("#datepicker").val('');
        $("#datepicker1").val('');
        $("#rtcost").val(data.row.Rt_Cost);
        $("#vgtcost").val(data.row.Vgt_Cost);
        $("#report").show();
        if(data.row.Active) {
          $('#active').attr('checked', true);
        } else {
          $('#active').attr('checked', false);
        }
        if(data.row.Welch) {
          $('#welch').attr('checked', true);
        } else {
          $('#welch').attr('checked', false);
        }
        $("#operation").val('update');
      }

    }

}).data('WATable');

$(function() {
  var startDate = new Date();
    $( "#datepicker" ).datepicker({ dateFormat: "yy-mm-dd"});
  });
$(function() {
    $( "#datepicker1" ).datepicker({ dateFormat: "yy-mm-dd"});
  });

</script>
<div id="dialog-form1" title="Create new operator">
<!-- <button class="userBtns" id="report">Report</button></p><br> -->
  <form method="post" action="/operator_maint">
  <fieldset>
     <p><label class="field" for="operator[operatorId]">Id:</label><input class="textbox1" type="text" name="operator[operatorId]" id="operatorId"  readonly required >
     <label class="field" for="operator[desc]">Desc:</label><input class="textbox2" type="text" name="operator[desc]" id="desc" value="" class="text ui-widget-content ui-corner-all" required autofocus autocomplete="off" maxlength="50"></p><br><br>

    <p><label class="field" for="operator[address]">Address:</label><input class="textbox2" type="text" name="operator[address]" id="address" value="" class="text ui-widget-content ui-corner-all" required autocomplete="off" maxlength="50">
    <label class="field" for="operator[city]">City:</label><input class="textbox2" type="text" name="operator[city]" id="city" value="" class="text ui-widget-content ui-corner-all" required autocomplete="off" maxlength="50"></p><br><br>

    <p><label class="field" for="operator[state]">State:</label><input  class="textbox2" type="text" name="operator[state]" id="state" value="" class="text ui-widget-content ui-corner-all" required autocomplete="off" maxlength="2">
    <label class="field" for="operator[zip]">Zip:</label><input class="textbox2" type="text" name="operator[zip]" id="zip" value="" class="text ui-widget-content ui-corner-all" required autocomplete="off" maxlength="10"></p><br><br>


    <p><label class="field" for="operator[phone]">Phone:</label><input class="textbox2"type="text" name="operator[phone]" id="phone" value="" class="text ui-widget-content ui-corner-all" required autocomplete="off" maxlength="15">
    <label class="field" for="operator[code]">Code:</label><input class="textbox2"type="text" name="operator[code]" id="code" value="" class="text ui-widget-content ui-corner-all" required readonly autocomplete="off"></p><br><br>

    <p><label class="field" for="operator[active]">Active:</label><input class="checkbox1" type="checkbox" name="operator[active]" id="active" value="active">
    <label class="field" for="operator[welch]">Welch:</label><input class="checkbox1" type="checkbox" name="operator[welch]" id="welch" value="welch"></p><br><br>

    <p><label class="field1" for="operator[rtcost]">Rt Cost Per Day:</label><input class="textbox3"type="text" name="operator[rtcost]" id="rtcost" value="" class="text ui-widget-content ui-corner-all" required autocomplete="off" maxlength="3" title="RT Cost Per Day (Pennies)">
    <label class="field1" for="operator[vgtcost]">Vgt Cost Per Day:</label><input class="textbox3"type="text" name="operator[vgtcost]" id="vgtcost" value="" class="text ui-widget-content ui-corner-all" required  autocomplete="off" maxlength="3" title="VGT Cost Per Day (Pennies)"></p><br><br>  

    <p><label class="field" id="start">Start Date:</label><input  class="textbox2" type="text" id="datepicker" value="" class="text ui-widget-content ui-corner-all" readonly >
    <label class="field" id="end">End Date:</label><input class="textbox2" type="text" id="datepicker1" value="" class="text ui-widget-content ui-corner-all" readonly ></p><br><br>
    <!-- <p><label class="field">Start Date:</label><input type="text" class="text ui-widget-content ui-corner-all" id="datepicker">
    <label class="field">End Date:</label></p><br><br> -->

       <!-- <label class="field">End Date:</label><input type="text"  class="text ui-widget-content ui-corner-all" id="datepicker1"></p><br><br> -->

    <p><input class="subBtn" type="submit" value="Save">
    <button class="userBtns" id="report">Report</button></p><br>

    <input type="hidden" name="operator[operation]" id="operation" value=""></p><br><br>
  </fieldset>
  </form>
</div>

<% include footer.html %>